@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background-color: rgb(90, 240, 220);
  margin: 1rem;
}

main {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
h1 {
  text-align: center;
  color: rgb(13, 97, 97);
}
.quote {
  font-size: 1.6rem;
  color: teal;
  width: 100%;
}
#quote-author {
  font-style: italic;
  text-align: right;
  font-size: 1.4rem;
}

@media only screen and (min-width: 700px) {
  .container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
  }

  .quote-container-random {
    border-right: 1px solid rgb(221, 187, 187);
  }
}

.quote-container-random,
.quote-container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#btn-random {
  background-color: rgb(230, 73, 73);
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  color: rgb(235, 230, 230);
  transition: all 0.4s;
  cursor: pointer;
  font-size: 1.2rem;
  width: fit-content;
  margin-bottom: 1rem;
}

#btn-random:hover {
  background-color: rgb(199, 28, 28);
  padding: 1rem 3rem;
  color: white;
}

#input-search {
  width: min(90%, 300px);
  padding: 1rem;
  border: none;
  border-radius: 1.2rem;
  font-size: 1rem;
  color: #043d36;
}

#input-search:focus {
  outline: none !important;
  border: 1px solid #3cbdac;
  box-shadow: 0 0 10px #20b4a0;
}

.quote-search {
  font-size: 1.8rem;
  color: teal;
  width: 100%;
}
.quote-author-search {
  font-style: italic;
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.search-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#btn-search {
  background-color: rgb(230, 73, 73);
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  color: rgb(235, 230, 230);
  transition: all 0.4s;
  cursor: pointer;
  font-size: 1.2rem;
  width: fit-content;
  margin: 1rem 0;
}
#btn-search:hover {
  background-color: rgb(199, 28, 28);
  padding: 1rem 3rem;
  color: white;
}

#error {
  color: rgb(252, 46, 46);
  font-size: 1.2rem;
}

#btn-copy {
  visibility: hidden;
  background-color: rgb(47, 204, 47);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 1rem;
}
#btn-copy:hover {
  background-color: darkgreen;
}
